<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment header-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon m-right-top button ">
        <i class="sidebar icon"></i>
    </a>

</nav>

<!--中间部分-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <!--头部-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="column right aligned">
                    共<h3 class="ui orange header m-inline-block m-text-thin">888</h3>个
                </div>
            </div>
        </div>

        <div class="ui attached segment m-padded-tb-large">
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">45</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">45</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">45</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">45</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">45</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">45</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">45</div>
            </div>
        </div>

        <div class="ui teal top segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你现在好吗？</h3>
                        <p class="m-text">北京现在北京现在是几点，我也不知道，只有正确北京现在是几点，我也不知道，只有正确是几点，我也不知道，只有正确的目标，也在粗 </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">葛会军</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-01-10
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>988
                                    </div>
                                </div>

                            </div>

                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>

                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img class="ui rounded image" src="https://i.picsum.photos/id/1001/800/450.jpg">
                        </a>

                    </div>
                </div>

            </div>
        </div>

        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">
                        上一页
                    </a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">
                        下一页
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<!--底部-->
<footer class="ui inverted vertical segment footer-max">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1089863426,3394286455&fm=26&gp=0.jpg" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的博客，这是我的博客，这是我的博客，这是我的博客，这是我的博客，</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">我的博客@webstie</p>
    </div>
</footer>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>